body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
  overflow:hidden;
  touch-action:none;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:798px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:798px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:460px;
  top:0px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u8 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u10 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:238px;
  top:542px;
  width:87px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:150px;
  top:542px;
  width:87px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u15 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:389px;
  top:141px;
  width:71px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u17 {
  position:absolute;
  left:443px;
  top:181px;
  width:6px;
  height:6px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u19 {
  position:absolute;
  left:182px;
  top:219px;
  width:89px;
  height:89px;
}
#u20 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:211px;
  top:255px;
  width:31px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u25 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:77px;
  top:610px;
  width:307px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:264px;
}
#u27 {
  position:absolute;
  left:0px;
  top:460px;
  width:460px;
  height:264px;
}
#u28 {
  position:absolute;
  left:2px;
  top:124px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:290px;
}
#u29 {
  position:absolute;
  left:0px;
  top:468px;
  width:460px;
  height:290px;
}
#u30 {
  position:absolute;
  left:2px;
  top:137px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:287px;
}
#u31 {
  position:absolute;
  left:0px;
  top:461px;
  width:460px;
  height:287px;
}
#u32 {
  position:absolute;
  left:2px;
  top:136px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:920px;
  top:0px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u35 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:306px;
  width:460px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:1380px;
  top:0px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u39 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:96px;
  width:460px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 0, 0.0980392156862745);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 0, 0.0980392156862745);
  box-shadow:0px 1px 1px rgba(255, 255, 0, 0.0980392156862745);
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:57px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:48px;
  top:41px;
  width:14px;
  height:3px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u46 {
  position:absolute;
  left:40px;
  top:17px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u48 {
  position:absolute;
  left:155px;
  top:17px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50 {
  position:absolute;
  left:270px;
  top:17px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u52 {
  position:absolute;
  left:386px;
  top:17px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:3px;
  top:0px;
  width:111px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:126px;
  top:0px;
  width:103px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:240px;
  top:0px;
  width:103px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:354px;
  top:0px;
  width:103px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:225px;
  top:765px;
  width:9px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
