body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:798px;
}
#u60 {
  position:absolute;
  left:2px;
  top:391px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u62 {
  position:absolute;
  left:44px;
  top:39px;
  width:6px;
  height:6px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:740px;
  width:460px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
