body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1700px;
}
#u68 {
  position:absolute;
  left:2px;
  top:842px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u70 {
  position:absolute;
  left:94px;
  top:84px;
  width:12px;
  height:12px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
